
#app{
    margin-left: 600px;
}

#addBtn{
    margin-left: 10px;
}

#closeBtn{
    margin-left: auto;
    display: flex;  
    margin-top: -25px;
}

.list-group-item{
    height: 40px;
}

.list-group{
    width: 450px;
    
}

#itemsQuantity{
    margin-left: 0px;
}

#tittle{
    margin-left: 88px;
}

#input{
    margin-left: 88px;
}